{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<figure class="post-thumbnail__figure section__wrapper">
					<img class="post-thumbnail__media" src="{{ post.thumbnail.src|resize(1300, 350) }}" />
			</figure>
			<section class="article__content entry-content">
				<h1 class="article__title">{{ post.title }}</h1>
				<p class="article__author">
					<span>By</span><a href="{{ post.author.path }}"> {{ post.author.name }} </a><span>&bull;</span> <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
				</p>
				<div class="article__body">
					{{ post.content }}
				</div>
			</section>

			<!-- comment box -->
			<section class="comment__box">
				<!-- comments -->
				<div class="comments">
					{% if post.comments %}
						<h3> comments </h3>
						{% for cmt in post.comments %}
							{% include "comment.twig" with {
								'comment' : cmt 
							} %}
						{% endfor %}
					{% endif %}
				</div>

				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
				    <!-- comment form -->
				    {% include "comment-form.twig" %}
				{% endif %}
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
