{% import "macros/html.twig" as html %}

<section class="{{ class }} section__wrapper">
  <div class="vertical-bar">
    <div class="vertical-bar__line"></div>
    <p class="vertical-bar__text">{{ fields.course_code }}</p>
  </div>
  <div class="intro_hero__description">
    {{ fields.description }}
    <a href="" class="button--intro">{{ html.icon('arrow-down', 'button__svg') }}</a>
  </div>
  <div class="image_hero__image">
    <figure class="image_hero__figure">
      <img src="{{ fields.image_hero.url | resize(570, 376) }}" alt="" class="image_hero__media" />
    </figure>
  </div>
</section>