{% import "macros/html.twig" as html %}

{% if posts %}
  <section class="{{ class }} section__wrapper">
    <div class="tease-posts">
      <div class="tease-posts__description description">
        {{ fields.description }}
      </div>
      <div class="tease-posts__collections">
        {% for post in posts %}
          <article class="post-preview">
              <figure class="post-preview__figure">
                {% if post.get_thumbnail %}
                  <img src="{{ post.thumbnail.src }}" alt="" class="post-preview__media" />
                {% else %}
                  <div class="post-preview__media post-preview__media--placeholder">
                    {{ html.icon('blog', 'post-preview__svg') }}
                  </div>
                {% endif %}
              </figure>
              <div class="post-preview__excerpt">
                <div class="post-preview__excerpt-content">
                  <h3 class="post-preview__title">{{ post.title }}</h3>
                  <span class="post-preview__byline">By <a href="{{ post.author.link }}" class="post-preview__byline-link">{{ post.author }}</a></span>
                  <p class="post-preview__text">{{ post.preview.length(35).force.read_more(false) }}</p>
                  <a href="{{ post.link }}" class="post-preview__button">Read more</a>
                </div>
              </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}